<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/com.css">
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/date_input.css">
    <!-- <link rel="stylesheet" href="css/info.css"> -->
    <link rel="stylesheet" href="__PUBLIC__/css/addPatient.css">
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src='__PUBLIC__/js/jquery.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/js/WdatePicker.js'></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.mCustomScrollbar.js"></script>
   <!--  <script type="text/javascript" src='js/jquery.min.js'></script> -->
    <script type="text/javascript" src='__PUBLIC__/js/jquery.date_input.pack.js'></script>
    <script type="text/javascript" src="__PUBLIC__/js/com.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/addPatient.js"></script>
    <title>管理首页</title>
</head>
<body>
    <div id="body_wrap">
    <!-- 提示框 -->
    <div class="sys_msg_tips"></div>
        <!--头部-->
        <include file="Common:head" />

        <!-- 主体 -->
        <div id="con">
            <div class="wrap">
            <!--导航栏部分-->
                <include file="Common:menu" />

                <!--显示表单部分-->
                <div class="form">
                    <div class="title">
                        <div class="left">医院名称：<a href="/" title='点我返回首页'>{$hospital_name}</a></div>
                        <!-- <div class="right">
                        
                            搜索框 
                            <div class="word">搜索病人：</div>
                            <div class="input search">
                                <input value="" type="text" maxlength="5">
                                <span class="search_button"></span>
                            </div>
                            <div class="word">选择月份：</div>
                            <div class="input">
                                <input value="2016-05-08" type="text" class="date_input">
                            </div>
                        </div>-->
                    </div>

                    <!--左侧导航隐藏按钮-->
                    <div class="_button">
                        <div class="hide"></div>
                    </div>  
                <form action="{:U('addPatient')}" method="post" name="add">                    <!--内容主体-->
                    <div class="form_con">
                        <div class="addForm">
                            <div class="fields">
                              <ul>
                                <li>入院日期</li>
                                <li>姓名</li>
                                <li class="age">年龄</li>
                                <li>性别</li>
                                <li>病种</li>
                                <li>手机号码</li>
                                <li class="doctor">接诊医生</li>
                                <li>操作</li>
                              </ul>
                              <ul class="input">
                                <input type="hidden" name="unique" value="{$add_form_unique}">
                                <li><input type="text" name="hospital_date" class="input_date" onclick="WdatePicker()"></li>
                                <li><input type="text" name="name" class="name"></li>
                                <li class="age"><input type="text" name="age" class="age" maxlength="3"></li>
                                <li>
                                    <select name="sex">
                                        <option value="男">---- 男 ----</option>
                                        <option value="女">---- 女 ----</option>
                                    </select>
                                </li>
                                <!-- <li><input type="text" name="illness" class="type"></li> -->
                                <li>
                                    <select name="illness">
                                        <option value="">--请选择--</option>
                                        <volist name='illness' id='ill'>
                                            <option value="{$ill.illness_name}">{$ill.illness_name}</option>
                                        </volist>
                                        <option value="">--手工填写--</option>
                                    </select>
                                </li>
                                <li><input type="text" name="tel" class="tel" maxlength="11"></li>
                                <li class="doctor">
                                    <select name="doctor" class="select_doctor">
                                        <option value="">--请选择--</option>
                                        <volist name='doctors' id='doctor'>
                                            <option value="{$doctor.name}">{$doctor['name']}</option>
                                        </volist>
                                        <option value="">--手工填写--</option>
                                    </select>
                                </li>
                                <li class="add"><span class="ok">√</span><span class="no">×</span></li>
                              </ul>
                            </div>
                        </div>

                        <div class="button_wrap">
                          <div class="addButton"></div>
                        </div>
                    </div>
                     <!--  <div class="submit">
                            添加病人
                     <input type="submit" value="添加">
                     </div> -->
                      
                </form>    
                </div>
            </div>
        </div>
    </div>

</body>
</html>